/*
####################################################################
## ZOUPA - (ZombyMediaIC open source usage protection agreement)  ##
## License as of: 10.05.2020 19:41 | #202005101941                ##
## Niklas Vorberg (AsP3X)                                         ##
####################################################################
*/

.users{margin:5px;background:#000;color:#fff;padding:5px;padding-left:10px;padding-right:10px;text-align:center}.cn_avail{padding:5px;width:100px;background:green;color:#fff;border-radius:5px}.cn_navail{padding:5px;width:100px;background:red;border-radius:5px}
